/* navigation bar */
.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

nav {
    background-color: #f5cd7a;
}

nav img {
    padding-right: 15px;
    width: 65px;
}

.nav-item {
    margin: 0px 15px;
}

.container-fluid {
    margin-top: 20px;
}

.row {
    margin: 0 auto;
}

.width150px {
    width: 150px;
}

.card img {
    height: 300px;
}

.position-top {
    object-position: top;
}

.skill-icons {
    padding: 0 32px;
}

.fa-flip {
    --fa-flip-x: 0; --fa-flip-y: 0;
}
.fa-flip:hover {
    --fa-flip-x: 1; --fa-flip-y: 0;
}

/* backgrounds */

#welcome {
    background-color: #F7D794;
}

#about-me {
    background-color: #F3A683;
}

#about-me > div > div:first-child {
    background-color: #e0936f;
}

#skills {
    background-color: #786FA6;
}

#skills > div > div:first-child {
    background-color: #574B90;
}


